In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score, precision_score
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [24]:
df = pd.read_csv("student_performance_interactions.csv")
df.head()

  student_id  final_score  ... parent_education_level  study_environment
0      S0001    60.137241  ...                 Master              Noisy
1      S0002    99.021977  ...            High School              Quiet
2      S0003    70.522955  ...            High School           Moderate
3      S0004    63.448537  ...            High School              Noisy
4      S0005    66.483019  ...                 Master              Quiet

[5 rows x 18 columns]

In [25]:
df.shape

(1000, 18)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   student_id                 1000 non-null   object
 1   final_score                1000 non-null   float64
 2   grade                      1000 non-null   object
 3   pass_fail                  1000 non-null   int64
 4   previous_score             1000 non-null   float64
 5   math_prev_score            1000 non-null   float64
 6   science_prev_score         1000 non-null   float64
 7   language_prev_score        1000 non-null   float64
 8   daily_study_hours          1000 non-null   float64
 9   attendance_percentage      1000 non-null   float64
 10  homework_completion_rate   1000 non-null   float64
 11  sleep_hours                1000 non-null   float64
 12  screen_time_hours          1000 non-null   float64
 13  physical_activity_minutes  1000 non-null   float64
 14  motivation_score           1000 non-null   float64
 15  exam_anxiety_score         1000 non-null   float64
 16  parent_education_level     1000 non-null   object
 17  study_environment          1000 non-null   object
dtypes: float64(13), int64(1), object(4)
memory usage: 140.8+ KB

In [27]:
lab = LabelEncoder()
df["grade"] = lab.fit_transform(df["grade"])
df["study_environment"] = lab.fit_transform(df["study_environment"])

In [28]:
df["parent_education_level"].value_counts()

parent_education_level
Master         351
High School    331
Bachelor       318
Name: count, dtype: int64

In [29]:
df["parent_education_level"] = df["parent_education_level"].map({"High School":1, "Bachelor":2, "Master":3})

In [30]:
df.head()

  student_id  final_score  ...  parent_education_level  study_environment
0      S0001    60.137241  ...                       3                  1
1      S0002    99.021977  ...                       1                  2
2      S0003    70.522955  ...                       1                  0
3      S0004    63.448537  ...                       1                  1
4      S0005    66.483019  ...                       3                  2

[5 rows x 18 columns]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   student_id                 1000 non-null   object
 1   final_score                1000 non-null   float64
 2   grade                      1000 non-null   int64
 3   pass_fail                  1000 non-null   int64
 4   previous_score             1000 non-null   float64
 5   math_prev_score            1000 non-null   float64
 6   science_prev_score         1000 non-null   float64
 7   language_prev_score        1000 non-null   float64
 8   daily_study_hours          1000 non-null   float64
 9   attendance_percentage      1000 non-null   float64
 10  homework_completion_rate   1000 non-null   float64
 11  sleep_hours                1000 non-null   float64
 12  screen_time_hours          1000 non-null   float64
 13  physical_activity_minutes  1000 non-null   float64
 14  motivation_score           1000 non-null   float64
 15  exam_anxiety_score         1000 non-null   float64
 16  parent_education_level     1000 non-null   int64
 17  study_environment          1000 non-null   int64
dtypes: float64(13), int64(4), object(1)
memory usage: 140.8+ KB

In [32]:
X = df.drop(["pass_fail","student_id"], axis=1)

In [33]:
y= df["pass_fail"]

In [34]:
X_train,X_test, y_train,y_test = train_test_split(X,y, train_size=0.70, random_state=42)

In [35]:
X_train.shape

(700, 16)

In [36]:
X_test.shape

(300, 16)

In [37]:
random_model = RandomForestClassifier()
random_model.fit(X_train,y_train)
y_predict = random_model.predict(X_test)

In [38]:
accuracy_score(y_test, y_predict)

1.0

In [39]:
from sklearn.linear_model import LogisticRegression

In [40]:
log_model = LogisticRegression()
log_model.fit(X_train,y_train)
log_y_predict = log_model.predict(X_test)

/opt/anaconda3/lib/python3.13/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [41]:
accuracy_score(y_test,log_y_predict)

0.9966666666666667

In [43]:
import joblib # save the model for machine learninf deployment

In [44]:
joblib.dump(log_model, "model.pkl")

['model.pkl']